<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No-T</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <div class="logo-wrapper">
            <img class="logo-imag" src="/static/images/logos/no-t-logo-no-bg-small.png" alt="logo">
        </div>

        <ul class="link-i">
            <li class="link-item">
                <a href="#features" class="link"></a>
            </li>
            <li class="link-item">
                <a href="#testimonials" class="link"></a>
            </li>
            <li class="link-item">
                <a href="#pricing" class="link"></a>
            </li>
        </ul>

        <div class="cta-btns">
            <button class="login">
                Log In
            </button>

            <button class="get-started">
                Get Started Free
            </button>
        </div>
    </header>

    <section class="hero">
        <div class="text-cont">
            
        </div>
    </section>

    <footer>
        <p>© 2025 Simple Note Taker | Built with ❤ using Crow C++</p>
    </footer>

    <script src="/static/js/script.js"></script>
</body>

</html>